body{
 display: flex;
 justify-content: center;
 align-items: center;
}

.container{
display: flex;
flex-wrap: wrap;
max-width:64vw;
max-height: 64vh;
}

.square{
   height: 4vw; /*.container.width /n (in n x n grid)*/
   width:4vw; 
   box-sizing:border-box;
   border: 1px groove darkgray;
}
